@model IEnumerable<Korizza.Models.Article.ArticleModel>
@{
    Layout = "_Authorize";
}
@{
    ViewBag.Title = "Articles list";
}
<div id="validationMessage">@ViewBag.Message</div>
<form asp-controller="Articles" asp-action="ArticlesList">
    <p>
        Title: <input type="text" name="SearchRequest">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <tr><th>Article title</th><th>Author</th><th></th></tr>
    @foreach (var article in Model)
    {
        <tr>
            <td>@article.Title</td>
            <td>@article.Author</td>
            <td>
                <form asp-action="Delete" asp-route-id="@article.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@article.Id">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>

                </form>
            </td>
        </tr>
    }
</table>
<script>
        var message = document.getElementById('validationMessage');
        if (message.textContent != "") {
            message.className = "bg-success text-white justify-content-center rounded p-0 d-flex align-items-center py-2 px-3";
        }
</script>

